@import "tailwindcss";

:root {
  --gray-rabbit: #6D6D71;   /* Серый кролик */
  --beige-gray: #E3E3DB;    /* Мягкий серо-бежевый */
  --magic-black: #373A3E;   /* Магический чёрный */
}

@media (prefers-color-scheme: dark) {
  :root {
  --gray-rabbit: #6D6D71;   /* Серый кролик */
  --beige-gray: #E3E3DB;    /* Мягкий серо-бежевый */
  --magic-black: #373A3E;   /* Магический чёрный */
}
}


.gray-rabbit{
  color: #6D6D71;
}

.magic-black{
  color: #373A3E;
}
.beige-gray{
  color: #E3E3DB;
}
.bg-gray-rabbit{
  background-color: #6D6D71;
}
.bg-magic-black{
  background-color: #373A3E;
}
.bg-beige-gray{
  background-color: #E3E3DB;
}


.glass {
  position: relative;
  background: rgba(255,255,255,0.08);
  backdrop-filter: blur(20px) saturate(180%);
  -webkit-backdrop-filter: blur(20px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 4px 30px rgba(0,0,0,0.3);
  transition: all 0.5s ease;
}



.glass-light {
  background: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  color: #111;
}

.glass-dark {
  background: rgba(15, 23, 42, 0.6);
  backdrop-filter: blur(18px) saturate(180%);
  -webkit-backdrop-filter: blur(18px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.6);
  color: #f1f5f9;
}

.ghosthub-card {
  background-color: rgba(15, 23, 42, 0.5); 
  backdrop-filter: blur(24px);             
  -webkit-backdrop-filter: blur(24px);     
  
  border: 1px solid rgba(71, 85, 105, 0.7); 
  
  border-radius: 1.5rem; 
  
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.4); 
  
}
 #bio::placeholder {
    color: #9ca3af; 
    opacity: 1; 
  }

#post::placeholder {
    color: #9ca3af; 
    opacity: 1; 
  }
  #bio:focus {
  border: 1px solid hsl(254, 16%, 71%); /* почти как твой oklch */
  outline: none;
}